@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:wght@400;600;800&display=swap');
$colorgreen: rgb(6,214,160);
$colorlightbrown: rgb(255,209,102);
$colorbrown: rgb(164,113,72);
$accentmain: rgb(87, 211, 176);
$colormain: rgb(5,25,35);
$oxfordblue: rgb(0,7,45);
$maybe: rgb(42,157,143);
$blue: rgb(30,136,229);

// typography
$ffhead: 'Kablammo', cursive;
$ffbody: 'Poppins', sans-serif;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    font-family: $ffbody;
}

// hero 

.hero{
    // padding: 1rem;
    .social{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        padding: .6rem 0 .3rem 2rem;
        .logos .icon{
            padding-right: .5rem;
            cursor: pointer;
            font-size: .95rem;
            &:hover{
                transition: transform all .3ms ease;
                color: $maybe;
            }
        }
        span{
            font-weight: 600;
            font-size: .8rem;
        }
    }
    .dash{
        height: 1px;
        width: 100%;
        background-color: $colorgreen;
    }
}

// nav 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 5rem;
    .left{
        display: flex;
        align-items: center;
        gap: 4rem;
        .logo{
            font-family: $ffhead;
            font-size: 2rem;
            cursor: pointer;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            li{
                list-style-type: none;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    transition: transform all .3s ease;
                    color: $maybe;
                }
            }
        }
    }
    .right{
        // margin-right: 2rem;
        .btn{
            padding: .4rem 1rem;
            background: transparent;
            border-radius: 15px;
            // margin-left: .9rem;
            border: none;
            &:hover{
                background-color: $accentmain;
                transition: all 300ms ease;
            }
        }
    }
}

.carousel{
    justify-content: center;
    // align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 2.5rem 5rem;
    height: 100%;
    // border: 1px solid red;
    padding: 3rem 1rem 5rem 4rem;
    .h5{
        display: flex;
        align-items: center;
        h5{
            font-size: 1rem;
            font-weight: 600;
        }
        .dash{
            height: .2rem;
            width: 2rem;
            background-color: black;
            margin-right: 1rem;
        }
    }
    h2{
        font-size: 5rem;
        font-weight: 800;
        padding: 1.3rem 0;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            span{
                font-weight: 600;
                font-size: .9rem;
                margin-bottom: 1rem;
            }
            .nav-btn{
                margin-top: .8rem;
                margin-right: .3rem;
                font-size: 2rem;
                background: transparent;
                border: none;
                cursor: pointer;
                &:hover{
                    color: $accentmain;
                    transition: all .3s ease;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            // border: 1px solid red;
            width: 20rem;
            background: rgba(255,255,255,.15);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 1rem;
            color: black;
            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: aliceblue;
            }
            .para{
                p{
                    // font-weight: 600;
                    font-size: 1rem;
                }
                .hero-btn{
                    cursor: pointer;
                    border: none;
                    background: transparent;
                    margin-top: .7rem;
                    text-decoration: underline;
                    font-weight: 600;
                    &:hover{
                        color: $maybe;
                        transition: all .1s ease;
                    }
                }
            }
        }
    }
}

.icons{
    margin: 1rem;
    img{
        width: 2rem;
        height: 2rem;
        // border: 1px solid gray;
        margin-bottom: .7rem;
        cursor: pointer;

    }
    h6{
        font-weight: 600;
        font-size: .8rem;
        &:hover{
            transition: all .1s ease;
            color: $colorbrown;
        }
    }
}

.float{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 2rem;
    // border: 1px solid black;
    margin: -6rem 12rem 2rem 12rem;
    border-radius: 10px;
    background: rgba(255,255,255,.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 35, 138, .37);
    padding: 1rem 2rem;
    .facilities{
        width: 50%;
        .up{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding: .5rem;
            h3{
                font-weight: 800;
                font-size: 1.2rem;
            }
            span{
                font-weight: 800;
                font-size: .8rem;
                color: $colorbrown;
                cursor: pointer;
                &:hover{
                    color: $maybe;
                    transition: all .1s ease;
                }
            }
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .for-you{
        // border: 1px solid red;
        width: 100%;
        margin-top: -2rem;
        padding: 0 2rem;
        height: 100%;
       .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                font-weight: 800;
                font-size: 1.2rem;
            }
            span{
                font-weight: 800;
                font-size: 1rem;
                opacity: .6;
            }
            .ion{
                &:nth-child(2){
                    color: $maybe;
                }
                #icon{
                    padding-right: 1rem;
                    font-size: 1.5rem;
                    font-weight: 800;
                    cursor: pointer;
                    &:hover{
                        color: $maybe;
                        transition: all .1s ease;
                    }
                }
            }
        }
        .mid{
            font-weight: 600;
            padding: 1rem 0;
            opacity: .6;
        } 
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .float-btn{
                padding: .2rem .4rem;
                display: inline-block;
                font-weight: 600;
                font-size: 1rem;
                background: transparent;
                border: 1px solid gray;
                
                #ion{
                    font-size: 1.1rem;
                    color: $blue;
                    padding-right: .4rem;
                }
            }
            .profiles{
                // padding: 1rem;
                img{
                    padding-right: .2rem;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                }
            }
        }
    }
}

//activities page2

.row{
    padding: 2rem 0 2rem 5rem;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        h3{
            font-weight: 600;
            font-size: 1.5rem;
            
        }
        .navigation-buttons{
            padding-right: 3rem;
            button{
                font-size: 1.7rem;
                border: none;
                background: transparent;
                &:hover{
                    color: $maybe;
                    transition: all .1s ease;
                }
            }
        }
    }
}

.activities{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    
    .activity{
        width: 15rem;
        height: 10rem;
        padding: 1rem;
        position: relative;
        border-radius: 7px;
        border: 1px solid rgba(31, 35, 138, .37);
        // box-shadow: 1px 0 2px 1px  rgba(31, 35, 138, .37);
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, .2);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
        }
        #rate{
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: .8rem;
            font-weight: 600;
            padding: .1rem .2rem;
            color: $colorbrown;
            background-color: burlywood;
            border-radius: 10px;
            // margin-bottom: 3rem;
        }
        img{
            color: $maybe;
            height: 3rem;
            width: 3rem;
            margin: 2rem 0 1rem 0;
        }
        h3{
            font-size: .8rem;
            font-weight: 600;
            // padding: ;
        }
        #idadi{
            padding-top: 1rem;
            opacity: .6;
            font-weight: 600;
            font-size: .7rem;
        }
    }
}


//trending list

.trending-list-container{
    width: 100%;
    overflow: hidden;
    margin: 1rem 0 1rem 5rem;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            font-size: 1.5rem;
        }
        .nav-buttons{
            margin-right: 8rem;
            button{
                font-size: 1.7rem;
                border: none;
                background: transparent; 
                &:hover{
                    color: $maybe;
                    transition: all .1s ease;
                }
            }
        }
    }
    .trending-list{
        display: flex;
        gap: 1.4rem;
        white-space: nowrap;
        scroll-behavior: smooth;
        padding: 1.5rem 0 1rem 1rem;
        .trending-card{
            display: flex;
            flex-direction: column;
            width: 18rem;
            height: 100%;
            padding: .8rem;
            flex: 0 0 auto;
            // border: 1px solid red;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: rgba(0, 0, 0, .2);
                box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
            }
            img{
                width: 100%;
                height: 8rem;
                flex-grow: 1;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
            .title-cont{
                padding: 1rem .2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left{
                    h3{
                        font-weight: 600;
                        font-size: 1rem;
                    }
                    h6{
                        opacity: .6;
                        font-size: .8rem;
                    }
                }
                #icon{
                    font-size: 1.5rem;
                    cursor: pointer;
                    &:hover{
                        color: $maybe;
                        transition: all .1s ease;
                    }
                }
            }
            .price-cont{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left{
                    span{
                        opacity: .6;
                        font-size: .8rem;
                    }
                    h3{
                        font-size: 1rem;
                    }
                }
                .right{
                    .star{
                        font-size: .8rem;
                        color: $colorlightbrown;
                    }
                    h3{
                        font-size: .8rem;
                        opacity: .6;
                    }
                }
            }
            .cancel{
                padding: 1rem 0;
                #icon{
                    padding-right: .3rem;
                    color: $maybe;
                }
                #span{
                    padding-right: 3rem;
                }
                span{
                    font-size: .8rem;
                    opacity: .6;
                    font-weight: 600;
                }
            }
        }
    }
}