@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:wght@400;600;800&display=swap');
$colorgreen: rgb(6,214,160);
$colorlightbrown: rgb(255,209,102);
$colorbrown: rgb(164,113,72);
$accentmain: rgb(87, 211, 176);
$colormain: rgb(5,25,35);
$oxfordblue: rgb(0,7,45);
$maybe: rgb(42,157,143);
$blue: rgb(30,136,229);

// typography
$ffhead: 'Kablammo', cursive;
$ffbody: 'Poppins', sans-serif;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    font-family: $ffbody;
}

// hero 

.hero{
    // padding: 1rem;
    .social{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        padding: .6rem 0 .3rem 2rem;
        .logos .icon{
            padding-right: .5rem;
            cursor: pointer;
            font-size: .95rem;
            &:hover{
                transition: transform all .3ms ease;
                color: $maybe;
            }
        }
        span{
            font-weight: 600;
            font-size: .8rem;
        }
    }
    .dash{
        height: 1px;
        width: 100%;
        background-color: $colorgreen;
    }
}

// nav 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 5rem;
    .left{
        display: flex;
        align-items: center;
        gap: 4rem;
        .logo{
            font-family: $ffhead;
            font-size: 2rem;
            cursor: pointer;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            li{
                list-style-type: none;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    transition: transform all .3s ease;
                    color: $maybe;
                }
            }
        }
    }
    .right{
        // margin-right: 2rem;
        .btn{
            padding: .4rem 1rem;
            background: transparent;
            border-radius: 15px;
            // margin-left: .9rem;
            border: none;
            &:hover{
                background-color: $accentmain;
                transition: all 300ms ease;
            }
        }
    }
}

.carousel{
    justify-content: center;
    // align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 2.5rem 5rem;
    height: 100%;
    // border: 1px solid red;
    padding: 3rem 1rem 5rem 4rem;
    .h5{
        display: flex;
        align-items: center;
        h5{
            font-size: 1rem;
            font-weight: 600;
        }
        .dash{
            height: .2rem;
            width: 2rem;
            background-color: black;
            margin-right: 1rem;
        }
    }
    h2{
        font-size: 5rem;
        font-weight: 800;
        padding: 1.3rem 0;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            span{
                font-weight: 600;
                font-size: .9rem;
                margin-bottom: 1rem;
            }
            .nav-btn{
                margin-top: .8rem;
                margin-right: .3rem;
                font-size: 2rem;
                background: transparent;
                border: none;
                cursor: pointer;
                &:hover{
                    color: $accentmain;
                    transition: all .3s ease;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            // border: 1px solid red;
            width: 20rem;
            background: rgba(255,255,255,.15);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 1rem;
            color: black;
            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: aliceblue;
            }
            .para{
                p{
                    // font-weight: 600;
                    font-size: 1rem;
                }
                .hero-btn{
                    cursor: pointer;
                    border: none;
                    background: transparent;
                    margin-top: .7rem;
                    text-decoration: underline;
                    font-weight: 600;
                    &:hover{
                        color: $maybe;
                        transition: all .1s ease;
                    }
                }
            }
        }
    }
}

.icons{
    margin: 1rem;
    img{
        width: 2rem;
        height: 2rem;
        // border: 1px solid gray;
        margin-bottom: .7rem;
        cursor: pointer;

    }
    h6{
        font-weight: 600;
        font-size: .8rem;
        &:hover{
            transition: all .1s ease;
            color: $colorbrown;
        }
    }
}

.float{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 2rem;
    // border: 1px solid black;
    margin: -6rem 12rem 2rem 12rem;
    border-radius: 10px;
    background: rgba(255,255,255,.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 35, 138, .37);
    padding: 1rem 2rem;
    .facilities{
        width: 50%;
        .up{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding: .5rem;
            h3{
                font-weight: 800;
                font-size: 1.2rem;
            }
            span{
                font-weight: 800;
                font-size: .8rem;
                color: $colorbrown;
                cursor: pointer;
                &:hover{
                    color: $maybe;
                    transition: all .1s ease;
                }
            }
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .for-you{
        // border: 1px solid red;
        width: 100%;
        margin-top: -2rem;
        padding: 0 2rem;
        height: 100%;
       .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                font-weight: 800;
                font-size: 1.2rem;
            }
            span{
                font-weight: 800;
                font-size: 1rem;
                opacity: .6;
            }
            .ion{
                &:nth-child(2){
                    color: $maybe;
                }
                #icon{
                    padding-right: 1rem;
                    font-size: 1.5rem;
                    font-weight: 800;
                    cursor: pointer;
                    &:hover{
                        color: $maybe;
                        transition: all .1s ease;
                    }
                }
            }
        }
        .mid{
            font-weight: 600;
            padding: 1rem 0;
            opacity: .6;
        } 
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .float-btn{
                padding: .2rem .4rem;
                display: inline-block;
                font-weight: 600;
                font-size: 1rem;
                background: transparent;
                border: 1px solid gray;
                
                #ion{
                    font-size: 1.1rem;
                    color: $blue;
                    padding-right: .4rem;
                }
            }
            .profiles{
                // padding: 1rem;
                img{
                    padding-right: .2rem;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                }
            }
        }
    }
}

//activities page2

.row{
    padding: 2rem 0 2rem 5rem;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        h3{
            font-weight: 600;
            font-size: 1.5rem;
            
        }
        .navigation-buttons{
            padding-right: 3rem;
            button{
                font-size: 1.7rem;
                border: none;
                background: transparent;
                &:hover{
                    color: $maybe;
                    transition: all .1s ease;
                }
            }
        }
    }
}

.activities{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    
    .activity{
        width: 15rem;
        height: 10rem;
        padding: 1rem;
        position: relative;
        border-radius: 7px;
        border: 1px solid rgb(94, 94, 94);
        // box-shadow: 1px 0 2px 1px  rgba(31, 35, 138, .37);
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, .2);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
        }
        #rate{
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: .8rem;
            font-weight: 600;
            padding: .1rem .2rem;
            color: $colorbrown;
            background-color: rgb(248, 233, 213);
            border-radius: 10px;
            // margin-bottom: 3rem;
        }
        img{
            color: $maybe;
            height: 3rem;
            width: 3rem;
            margin: 2rem 0 1rem 0;
        }
        h3{
            font-size: .8rem;
            font-weight: 600;
            // padding: ;
        }
        #idadi{
            padding-top: 1rem;
            opacity: .6;
            font-weight: 600;
            font-size: .7rem;
        }
    }
}


//trending list

.trending-list-container{
    width: 100%;
    overflow: hidden;
    margin: 1rem 0 1rem 5rem;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            font-size: 1.5rem;
        }
        .nav-buttons{
            margin-right: 8rem;
            button{
                font-size: 1.7rem;
                border: none;
                background: transparent; 
                &:hover{
                    color: $maybe;
                    transition: all .1s ease;
                }
            }
        }
    }
    .trending-list{
        display: flex;
        gap: 1.4rem;
        white-space: nowrap;
        scroll-behavior: smooth;
        padding: 1.5rem 0 1rem 1rem;
        .trending-card{
            display: flex;
            flex-direction: column;
            width: 18rem;
            height: 100%;
            padding: .8rem;
            flex: 0 0 auto;
            // border: 1px solid red;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: rgba(0, 0, 0, .2);
                box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
            }
            img{
                width: 100%;
                height: 8rem;
                flex-grow: 1;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
            .title-cont{
                padding: 1rem .2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left{
                    h3{
                        font-weight: 600;
                        font-size: 1rem;
                    }
                    h6{
                        opacity: .6;
                        font-size: .8rem;
                    }
                }
                #icon{
                    font-size: 1.5rem;
                    cursor: pointer;
                    &:hover{
                        color: $maybe;
                        transition: all .1s ease;
                    }
                }
            }
            .price-cont{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left{
                    span{
                        opacity: .6;
                        font-size: .8rem;
                    }
                    h3{
                        font-size: .9rem;
                    }
                }
                .right{
                    .star{
                        font-size: .8rem;
                        color: $colorlightbrown;
                    }
                    h3{
                        font-size: .8rem;
                        opacity: .6;
                    }
                }
            }
            .cancel{
                padding: 1rem 0;
                #icon{
                    padding-right: .3rem;
                    color: $maybe;
                }
                #span{
                    padding-right: 3rem;
                }
                span{
                    font-size: .8rem;
                    opacity: .6;
                    font-weight: 600;
                }
            }
        }
    }
}

.destinations{
    // border: 1px solid red;
    margin: 1rem 7rem 1rem 7rem;
    padding: 1rem;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0 1rem 2rem;
        .left{
            h3{
                font-size: 1.5rem;
            }
            span{
                font-size: .8rem;
                opacity: .6;
            }
        }
        button{
            padding: .5rem 1rem;
            background-color: transparent;
            border: 1px solid rgb(94, 94, 94);
            display: inline-block;
            font-size: .8rem;
            font-weight: 600;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                // border: none;
                background: $colorgreen;
                color: #fff;
                transition: all .2s ease;
            }
        }
    }
    .gallery{
        width: 100%;
        height: 27rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        // border: 1px solid black;
        .left{
            width: 25%;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .vietnam{
                height: 13rem;
                width: 100%;
                border-radius: 10px;
                // border: 1px solid blueviolet;
                background: url(../images/vietnam.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                
            }
            .train{
                height: 13rem;
                width: 100%;
                border-radius: 10px;
                background: url(../images/tunnel.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            
        }
        .mid{
            width: 35%;
            height: 100%;
            border-radius: 10px;
            background: url(../images/safari.jpg);
            // background: url(../images/vietnam.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .right{
            display: flex;
            width: 40%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .london{
                height: 13rem;
                width: 100%;
                border-radius: 10px;
                background: url(../images/london.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .bottom{
                display: flex;
                height: 13rem;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                .kenya{
                    width: 55%;
                    height: 100%;
                    border-radius: 10px;
                    background: url(../images/greece.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .paris{
                    width: 43%;
                    border-radius: 10px;
                    height: 100%;
                    background: url(../images/paris.jpg);
                    background-size: cover;
                    background-position: right;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
#card{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  span{
    font-size: .8rem;
    font-weight: 600;
    padding: .2rem .5rem;
    color: $colorbrown;
    background-color: rgb(248, 236, 220);
    border-radius: 10px;
  } 
  .text{
    color: #fff;
    h3{
        font-size: 1rem;
        font-weight: 600;
    }
    h5{
        opacity: .7;
        font-size: .8rem;
    }
  }
}


//newsletter

.grapher{
    margin-inline: 8rem;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .upper-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $maybe;
        padding-block: 2rem;
        color: #fff;
        width: 70dvw;
        h3{
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            padding-block: 1rem;
        }
        span{
            font-size: .9rem;
            font-weight: 800;
            opacity: .6;
            text-align: center;
            padding-block-end: 1.2rem;
        }
        .grapher-btn{
            padding: .5rem 1rem;
            background-color: #fff;
            color: $accentmain;
            border: none;
            display: inline-block;
            font-size: .8rem;
            font-weight: 600;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                // border: none;
                background: $accentmain;
                color: #fff;
                transition: all .2s ease;
            }  
        }
    }
    .bottom-container{
        margin-block: 2rem;
        display: flex;
        align-items: center;
        width: 70dvw;
        height: 20rem;
        .gallery{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            gap: 1rem;
            height: 100%;
            .p1{
                width: 49%;
                height: 100%;
                background: url(../images/photographer1.jpg);
                background-repeat: no-repeat;
                object-fit: cover;
                background-size: cover;
                background-position: center
            }
            .p2-3{
                height: 100%;
                width: 49%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .p2{
                    height: 49%;
                    width: 100%;
                    background: url(../images/photographer2.jpg);
                    object-fit: cover;
                    background-size: cover;
                    background-position: center
                }
                .p3{
                    height: 49%;
                    width: 100%;
                    background: url(../images/lovers.jpg);
                    object-fit: cover;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
        .newsletter{
            width: 50%;
            height: 100%;
            padding-block: 1rem;
            padding-inline-start: 1rem;
            h5{
                padding-block-start: 1rem;
                color: $colorgreen;
                font-size: .8rem;
                font-weight: 600;
                text-align: start;
                width: 30%;
            }
            h2{
                font-size: 1.3rem;
                font-weight: 600;
                text-align: start;
                padding-block: 1rem;
                width: 40%;
            }
            p{
                font-size: .8rem;
                font-weight: 600;
                opacity: .7;
                text-align: start;
                width: 45%;
            }
            form{
                padding-block-start: 2.5rem;
                padding-block-end: 1.4rem;
                .newsletter-input{
                    padding: .65rem 5rem .65rem 1rem;
                    text-align: start;
                    border: none;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
                }
                button{
                    cursor: pointer;
                    border: none;
                    background-color: $maybe;
                    padding: .8rem 1rem;
                    color: #fff;
                    &:hover{
                        background-color: $accentmain;
                        transition: all .2s ease;
                    }
                }
            }
            span{
                margin-block-start: 2rem;
                font-size: .7rem;
                font-weight: 600;
                opacity: .7;
            }
        }
    }
}

//Contact Us

.cont{
    width: 25dvw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1.5rem;
    padding-inline: 3rem;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        color: $maybe;
    }
    h3{
        padding-block: 1.2rem;
        font-size: 1rem;
        font-weight: 600;
    }
    p{
        padding-block-end: 1.2rem;
        font-size: .8rem;
        font-weight: 600;
        opacity: .7;
    }
    h5{
        font-weight: 600;
        font-size: .8rem;
    }
}

.container{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // height: 15rem;
    h3{
        text-align: center;
        font-size: 1.5rem;
    }
    span{
        font-size: .8rem;
        font-weight: 600;
        opacity: .7;
    }
    .sub-cont{
        margin-block: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 51dvw;
        height: 15rem; 
        .left{
            background-color: $maybe;
        }
        .right{
            background-color: $oxfordblue;
        }
    }
}


//footer

.footer{
   padding-block-start: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
//    margin: 1rem 4rem;
   .sub-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    width: 80dvw;
    .left{
        display: flex;
        align-items: center;
        gap: 3rem;
        .icon{
            display: inline-flex;
            gap: .9rem;
            #ion{
                font-size: 1.2rem;
            }
            span{
                font-size: 1rem;
                font-weight: 600;
            }
        }
        h3{
            opacity: .7;
            font-weight: normal;
            font-size: .8rem;
        }
    }
    h5{
        opacity: .8;
        font-weight: 400;
    }
    
   }
   .dash{
        width: 80dvw;
        height: .08rem;
        background-color: rgb(56, 56, 56);
   } 
   .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid blue;
        width: 80dvw;
        padding-block: .3rem;
        margin-bottom: -1rem;
        .left{
            h5{
                color: $maybe;
                font-size: .9rem;
                font-weight: 400;
            }
            h3{
                padding-block: .3rem;
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
        .right{
           font-size: 1rem;
        //    border: 1px solid red; 
           span{
            color: black;
            font-size: 1rem;
            text-align: right;
            }
            h6{
                color: black;
                font-size: 1.2rem;
                text-align: right;
                padding-block: .5rem;
                font-weight: 600;
            }
            #ion{
                color: black;
                font-size: 1.5rem;
                cursor: pointer;
                &:hover{
                    color: $maybe;
                    transition: all .2s ease;
                }
            }
        }
        
    }
   .main-footer{
        // padding-block: 1rem
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70dvw;
        height: 18rem;
        img{
            width: 60%;
            height: 80%;
            object-fit: cover;
        }
        .content{
            width: 40%;
            padding-inline-end: 2rem;
            h4{
                font-size: .9rem;
                font-weight: 400;
                text-align: start;
            }
            h2{
                padding-block: 1rem;
                font-size: 1.5rem;
                font-weight: 400;
                display: inline;
                align-items: center;
                
            }
            #ion{
                font-size: 1.5rem;
                cursor: pointer;
                &:hover{
                    color: $maybe;
                    transition: all .2s ease;
                }
            }

            form{
                padding-block-start: 2.5rem;
                padding-block-end: 1.4rem;
                .footer-input{
                    padding: .65rem 3rem .65rem 1rem;
                    text-align: start;
                    border: none;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
                }
                button{
                    cursor: pointer;
                    border: none;
                    background-color: $maybe;
                    padding: .8rem 1rem;
                    color: #fff;
                    &:hover{
                        background-color: $accentmain;
                        transition: all .2s ease;
                    }
                }
            }
        }
   }
   .bottom-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: .3rem;
        width: 97%;
        margin-inline: 4rem;
        
        h4{
            font-size: .9rem;
            font-weight: 400;
        }
        h3{
            font-size: .9rem;
            font-weight: 400;
        }
    }
    .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: .3rem;
        width: 97%; 
        margin-inline: 4rem;
        .left{
            font-size: .8rem;
            font-weight: 600;
        }
        .right{
            display: flex;
            img{
                width: 2rem;
                height: 2rem;
                object-fit: contain;
            }
        }
    }
    .end{
        width: 100%;
    }
}